* {
    color: aliceblue;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-rendering: geometricPrecision;
    margin-right: 60px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main-name {
    justify-content: center;
    align-items: center;
    display: flex;
   
}

.main-name-top {
    background-color: rgb(15, 141, 61);
    border: 1px solid rgb(15, 141, 61);
    width: 1910;
    height: 93vh;
}

.skills-main {
    justify-content: center;
    padding-left: 30px;
    padding-right: 50px;
}

.main-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}

.main-header {
    border: 1px solid rgb(15, 141, 61);
    background-color: rgb(15, 141, 61);
}



